a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_e4bf9ac { box-sizing: border-box; vertical-align: top; border-radius: 40px; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#5C3286; background: linear-gradient(to bottom, #9025FB, #5C3286); border: 5px solid #FF00FF;  }
#container_e4bf9ac_padding { margin: 10px; display: block;  }
#label_157c0625 { position:absolute; left:1%; top:26%; width:471px; height:69px; background:none; font-size:44pt; font-family:Arial, Helvetica, sans-serif; color:#A2BF3F; text-align:justify;  }
.textstyle2 { font-size:40pt; font-family:Georgia, serif; color:#3EBF52;  }
#container_71297186 { box-sizing: border-box; vertical-align: top; border-radius: 40px; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#5C3286; background: linear-gradient(to bottom, #9025FB, #5C3286); border: 5px solid #FF00FF;  }
#container_71297186_padding { margin: 10px; display: block;  }
#button_50cb666a { box-sizing: border-box; vertical-align: bottom; border-radius: 10px; position:relative; display: inline-block; width:150px; height:40px; background-color:#C0C0C0; border: 4px solid #404040;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle3 { text-align:center; }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#button_16feeedf { box-sizing: border-box; vertical-align: bottom; border-radius: 10px; position:relative; display: inline-block; width:150px; height:40px; background-color:#C0C0C0; border: 4px solid #404040;  }
#button_11886076 { box-sizing: border-box; vertical-align: bottom; border-radius: 10px; position:relative; display: inline-block; width:150px; height:40px; background-color:#C0C0C0; border: 4px solid #404040;  }
#button_71ab4cf8 { box-sizing: border-box; vertical-align: bottom; border-radius: 10px; position:relative; display: inline-block; width:150px; height:40px; background-color:#C0C0C0; border: 4px solid #404040;  }
#button_da1c9ae { box-sizing: border-box; vertical-align: bottom; border-radius: 10px; position:relative; display: inline-block; width:150px; height:40px; background-color:#C0C0C0; border: 4px solid #404040;  }
#button_44bdc134 { box-sizing: border-box; border-radius: 10px; position:absolute; left:61%; top:2%; width:282px; height:131px; background-color:#C0C0C0; border: 4px solid #404040;  }
